header {
    background-color:#EA384D;
    border-bottom: none;
}

.hero {
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #EA384D;
}

.hero .container {
    display: flex;
}

.hero .container h1 {
    line-height: 1.5em;
    color: white;
}

body {
    height: 1200px;
}
