header {
    background-color:transparent;
    border-bottom: none;
}

.hero {
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #EA384D;
}

.hero .container {
    display: flex;
}

.hero .container h1 {
    font-weight: 300;
    line-height: 1.5em;
    color: white;
}
