.hero {
    margin-top: 55px;
    padding: 20px 0px 20px 0px;
    background-color: #FF5252;
}

.hero h1 {
    color: white;
}

.hero p {
    color: rgba(255,255,255,0.8);
}

.schedule nav {
    position: fixed;
    top: 55px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #EFF1F6;
    overflow: scroll;
}

.schedule nav .container {
    width: 160%;
    height: 60px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.schedule nav button {
    margin: 0px;
    background-color: transparent;
    border: 0px;
    font-size: 1em;
    padding: 20px 20px 20px 20px;
    color: rgba(38, 38, 38, 0.5);
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

.schedule nav button.active {
    padding: 20px 20px 17px 20px;
    color: rgba(38, 38, 38, 1);
    border-bottom: 3px solid #FF5252;
}

.schedule ul {
    padding: 0px;
    margin: 0px;
    margin-top: 115px;
}

.schedule ul li {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 1em;
    padding: 0px;
    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
    transition: 0.4s;
}

.schedule ul li.expand {
    background-color: #F5F7FC;
}

.schedule ul li p {
    margin: 0px;
    padding: 20px 20px 20px 20px;
    line-height: 1.4em;
}

.schedule ul li .item-time {
    width: 30%;
}

.schedule ul li .item-time .end-time {
    color: rgba(38, 38, 38, 0.4);
    font-size: 0.8em;
}

.schedule ul li .item-name {
    width: 50%;
}

.schedule ul li button.item-dropdown {
    width: 20%;
    background-color: transparent;
    border: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 20px 20px 20px 20px;
}

.schedule ul li button.item-dropdown img {
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

.schedule ul li.expand button.item-dropdown img {
    transform: rotate(180deg);
}

.schedule ul li .item-details {
    width: 100%;
    height: 300px;
    display: none;
}

.schedule ul li.expand .item-details {
    display: block;
    width: 100%;
    height: 200px;
}

.agenda {
    display: none;
}
