

h1 {
    font-size: 1.6em;
    font-weight: 100;
    color: #47525d;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
    line-height:1.5em;
    color: #111111;
}

p {
    line-height: 1.4em;
    color: #47525d;
}


.container {
    padding: 0px 20px 0px 20px;
}

.sr-only {
    display: none;
}

#notification-pane {
    width: 90%;
    position: fixed;
    left: 5%;
    bottom: 10px;
    height: 60px;
    z-index: 1000;
    border-radius: 3px;
    background-color: rgba(38,38,38,1);
    border: 1px solid rgba(38,38,38,1);
    display: none;

}


.hero {
    margin-top: 55px;
    padding: 20px 0px 20px 0px;
    background-color:#D31027;
}

.hero h1 {
    color: white;
}

.hero p {
    color: rgba(255,255,255,0.8);
}

.schedule nav {
    position: fixed;
    top: 56px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: white;
    overflow: scroll;
    border-bottom: 1px solid rgba(38,38,38,0.2);
}

.schedule nav .container {
    height: 50px;
    width: 150%;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: transparent;
    overflow: scroll;
    flex-basis: auto;
    white-space: nowrap;
}

.schedule nav button {
    margin: 0px;
    background-color: transparent;
    border: 0px;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    color: #000000;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.schedule nav button.active {
    padding: 20px 20px 20px 20px;
    color: rgba(38, 38, 38, 1);
    color: #0072FF;
}

.schedule .agenda {
    padding: 0px;
    margin: 0px;
    margin-top: 120px;
    display: none;
}

.schedule .agenda  li {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 1em;
    padding: 0px;
    transition: 0.4s;
}

.schedule .agenda > li {
    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

.schedule .agenda li.expand {
    background-color: #F5F7FC;
}

.schedule .agenda li p {
    margin: 0px;
    padding: 20px 20px 20px 20px;
    line-height: 1.4em;
}

.schedule .agenda li .item-time {
    width: 30%;
}

.schedule .agenda li .item-time .end-time {
    color: rgba(38, 38, 38, 0.4);
    font-size: 0.8em;
}

.schedule .agenda li .item-name {
    width: 50%;
}

.schedule .agenda li button.item-dropdown {
    width: 20%;
    background-color: transparent;
    border: 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    outline: none;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
     -webkit-tap-highlight-color: transparent;
}

.schedule .agenda li button.item-dropdown img {
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

.schedule .agenda li.expand button.item-dropdown img {
    transform: rotate(180deg);
}

.schedule .agenda li .item-details {
    width: 100%;
    display: none;
}

.schedule .agenda li.expand .item-details {
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.schedule .agenda li.expand .item-details p {
    padding-top: 0px;
    font-size: 0.8em;
    color: rgba(38, 38, 38, 0.5);
}

.schedule .agenda li.expand .item-details ul.item-meetings {
    padding-left: 20px;
    padding-right: 20px;
}

.schedule .agenda li.expand .item-details .item-meetings li {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1em;
    padding: 0px 0px 0px 0px;
    transition: 0.4s;
}

.schedule .agenda li.expand .item-details .item-meetings p {
    padding: 10px 0px 10px 0px;
}

.schedule .agenda li.expand .item-details .item-meetings .meeting-name {
    width: 40%;
}

.schedule .agenda li.expand .item-details .item-meetings .meeting-location {
    width: 20%;
}

.schedule .agenda li.expand .item-details .item-meetings .meeting-info {
    width: 20%;
}

.schedule .agenda li.expand .item-details .item-meetings .rsvp-button {
    width: 20%;
    height: 40px;
    background-color: transparent;
    border: 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 0px;
    justify-content: center;
    outline: none;
    cursor: pointer;
     -webkit-tap-highlight-color: transparent;
}

.schedule .agenda li.expand .item-details .item-meetings .rsvp-button img {
    width: 20px;
    height: 20px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.schedule .agenda li.expand .item-details .item-meetings li.active p {
    color: #00C853;
}

.schedule .agenda li.expand .item-details .item-meetings li.active .rsvp-button img {
-webkit-filter: grayscale(0);
filter: grayscale(0);
}

#myschedule-schedule {
    width: 100%;
}
#myschedule-schedule h2 {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0px;
    font-size: 1em;
    color: rgba(38,38,38,0.9);
    border-bottom: 1px solid rgba(38,38,38,0.1);
}

#myschedule-schedule ul {
    padding: 0px;
    margin-top: 15px;
    width: 100%;
}

#myschedule-schedule ul li {
    padding: 0px;
    margin-top: 0px;
    width: 100%;

        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 1em;
        padding: 0px 0px 0px 0px;
        transition: 0.4s;
    --border-bottom: 1px solid rgba(38, 38, 38, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#myschedule-schedule ul li  p {
    font-size: 0.8em;
    padding: 0px;
}



#myschedule-schedule ul li .meeting-name {
    width: 40%;
}

#myschedule-schedule ul li .meeting-location {
    width: 20%;
}

#myschedule-schedule ul li .meeting-info {
    width: 20%;
}

#myschedule-schedule ul li .rsvp-button {
    width: 20%;
    height: 40px;
    background-color: transparent;
    border: 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 0px;
    justify-content: center;
    outline: none;
    cursor: pointer;
     -webkit-tap-highlight-color: transparent;
}

#myschedule-schedule ul li .rsvp-button img {
    width: 20px;
    height: 20px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#myschedule-schedule ul li.active p {
    color: #00C853;
}

#myschedule-schedule ul li.active .rsvp-button img {
-webkit-filter: grayscale(0);
filter: grayscale(0);
}
